{% extends 'base.html' %}

{% endblock %}

{% block content %}
    <h1 class="p-5">Update Profile Information</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-1 left top">
            <div class="card-body">
                <p class="card-text text-dark">
                   User Name: <input type="text">
                   <br>
                   Fist Name : <input type="text">
                   <br>
                   Last Name: <input type="text">
                   <br>
                   Email: <input type="text">
                  
                </p>
            </div>
            <button type="submit" class="btn mb-4">Update</button>
        </form>
    </div>
{% endblock %}