{% extends 'base.html' %}

{% block content %}
<div>
<h1 class="p-5">Update Profile Information 
    <br>
    <a href="{% url 'user_profile' %}" class="btn btn-link">Back</a></h1>


<form action="{% url 'edit_profile' %}" method="POST">
    {% csrf_token %}

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-1 left top">
            <!-- <div class="card-body">
                <!-- <p class="card-text text-dark">
                   User Name:
                   <br> 
                   <input type="text">
                   <br>
                   Fist Name : 
                   <br>
                   <input type="text">
                   <br>
                   Last Name: 
                   <br>
                   <input type="text">
                   <br>
                   Email:
                   <br>
                   <input type="text">                
                </p> -->
                
            </div> -->
            {{ form }}
                <input type="submit" value="Update" class="btn btn-danger" />
            
        </form>
    </div>
{% endblock %}