{% extends "base.html" %}

{% block content %}
<h1 class="p-5">Update Comment</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-1 left top">
            <div class="card-body">
                <p class="card-text text-dark">
                   The Comment:
                   <br>
                    <input type="text">                
                </p>
            </div>
            <button type="submit" class="btn btn-dark position-absolute top-100 start-0">Update</button>
        </form>
    </div>


{%endblock%}