{% extends "base.html" %}

{% block content %}

<div class="row my-1 p-3">
    <h4>Hi {{ user.username }} !</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-1 left top">
            <div class="card-body">
                <p class="card-text text-dark">
                   User Name: {{ user }}
                   <br>
                   Fist Name : {{ user.first_name }}
                   <br>
                   Last Name: {{ user.last_name }}
                   <br>
                   Email: {{ user.email }}
                  
                </p>
            </div>
                <br>
            <a href="{% url 'edit_profile' %} " class="btn btn-dark position-absolute 
            top-100 start-0">
                Edit</a>   
                          
                
            </div>
    </div>
   





{%endblock%}